.header {
  nav {
    margin: 20px 0;
    padding: 15px;
    display: flex;

    justify-content: space-between;

    border: dotted black;

    & a + a,
    span + a {
      margin-left: 13px;
    }

    & div {
      display: flex;
      gap: 20px;
    }

    .cart {
      margin-left: auto;
    }
    .amount {
      background-color: pink;
      width: 35px;
      height: 35px;

      text-align: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

.footer {
  border: dotted black;
  margin: 20px 0;
  display: flex;
  margin-top: 20px;
  padding: 15px;
}
